body {
  margin: 0px;
  font-family: sans-serif;
  background: white;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

h1 {
  color: rgb(0, 151, 58);
  font-size: 250%;
}

.hero {
  text-align: center;
  padding: 40px;
  background-size: cover;
  overflow: hidden;
  background: white url("images/BG.png") no-repeat center; 
  height: 700px;
}

.logo {
  max-width: 300px;
}

.button {
  margin: 40px;
  display: inline-block;
  text-decoration: none;
  color: rgb(73, 175, 5);
  font-weight: bold;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid #ace04b;
  background: linear-gradient(0deg, #f8ff00 0%, #89d410 100%);
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgb(2, 109, 73);
  box-shadow: 0px 6px 0px #ace04b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.bigplay{
  margin: 50px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: rgb(73, 175, 5);
  font-weight: bold;
  padding: 40px 70px;
  font-size: 70px;
  border: 1px solid #ace04b;
  background: linear-gradient(0deg, #f8ff00 0%, #89d410 100%);
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgb(2, 109, 73);
  box-shadow: 0px 6px 0px #ace04b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.monster {
  color: #888;
  border: 1px solid #000;
  background: linear-gradient(0deg, #777 0%, #000 100%);
  text-shadow: 0px -1px 0px #333;
  box-shadow: 0px 6px 0px #222, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.pagecontent {
  padding-top: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.column {
  flex: 1 0 200px;
  padding: 30px;
  /* border: 2px solid red; */
  align-self: stretch;
}

.column img {
  max-width: 100%;
}
