body {
  margin: 0px;
  font-family: sans-serif;
  background: white;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

h1 {
  color: rgb(0, 151, 58);
  font-size: 250%;
}

.hero {
  text-align: center;
  padding: 40px;
  background-size: cover;
  overflow: hidden;
  background: white url("images/BG.png") no-repeat center; 
  height: 700px;
}

.logo {
  max-width: 300px;
}

.button {
  margin: 40px;
  display: inline-block;
  text-decoration: none;
  color: rgb(73, 175, 5);
  font-weight: bold;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid #ace04b;
  background: linear-gradient(0deg, #f8ff00 0%, #89d410 100%);
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgb(2, 109, 73);
  box-shadow: 0px 6px 0px #ace04b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.bigplay{
  margin: 50px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: rgb(73, 175, 5);
  font-weight: bold;
  padding: 40px 70px;
  font-size: 70px;
  border: 1px solid #ace04b;
  background: linear-gradient(0deg, #f8ff00 0%, #89d410 100%);
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgb(2, 109, 73);
  box-shadow: 0px 6px 0px #ace04b, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

/* Unique button colors */
.savior {
  color: black;
  border: 1px solid rgb(189, 189, 189);
  background: linear-gradient(0deg, white 0%, rgb(99, 99, 99) 100%);
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
  box-shadow: 0px 6px 0px grey, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.monster {
  color: rgb(255, 255, 255);
  border: 1px solid #000;
  background: linear-gradient(0deg, #777 0%, #000 100%);
  text-shadow: 0px -1px 0px rgb(0, 0, 0);
  box-shadow: 0px 6px 0px #222, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.pigsfly {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 35, 179);
  background: linear-gradient(0deg, rgb(255, 199, 218) 0%, rgb(255, 131, 224) 100%);
  text-shadow: 0px -1px 0px #333;
  box-shadow: 0px 6px 0px rgb(255, 110, 166), 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.outlaw {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 0, 0);
  background: linear-gradient(0deg, rgb(255, 64, 64) 0%, rgb(255, 0, 0) 100%);
  text-shadow: 0px -1px 0px rgb(109, 0, 0);
  box-shadow: 0px 6px 0px rgb(194, 0, 0), 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

html {
  scroll-behavior: smooth;
}

.pagecontent {
  padding-top: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0px 10px;
}


.column {
  text-align: center;
  flex: 1 0 200px;
  padding: 30px;
  margin: 10px;
  align-self: stretch;
  background: linear-gradient(0deg, #ddd 0%, #eee 100%);
  border-radius: 10px;
}

.column img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 30px;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 4px;
  }

  .bigplay{
    margin: 50px;
    padding: 30px 50px;
    font-size: 35px;
    border-radius: 5px;
  }

  .logo {
    max-width: 200px;
  }

  .bigplay{
    margin: 10px;
    padding: 30px 40px;
    font-size: 40px;
    border-radius: 5px;
}